//color
$colorTextLight: #fff;
$colorTextDark: #000;
// colortheme
$colorAccent: #FFD600;
$colorAccentDark: #1E1E1F;
$colorAccentDarkSecond: #262626;
$colorAccentDarkLight: #D1D7ED;
$colorAccentDarkLight2: #D1D7EC;



//


//colortheme2


:root{
    --color-text-light: #{$colorTextLight};
    --color-text-dark: #{$colorTextDark};
    --color-accent: #{$colorAccent};
    --color-accent-dark: #{$colorAccentDark};
    --color-accent-dark-second: #{$colorAccentDarkSecond}; 
    --color-accent-dark-light: #{$colorAccentDarkLight};
    --color-accent-dark-light2: #{$colorAccentDarkLight2}; 
}





